body {
  font-family: "Montserrat", sans-serif;
  background: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  cursor: pointer;
}

button {
  cursor: pointer;
  border: none;
  margin: 0;
  padding: 0;
}

img,
svg {
  display: block;
  width: 100%;
  height: auto;
}

section {
}

.container {
  max-width: 1150px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

/* !HEADER */
.header {
  background-color: #dce9e2;
}

.header-container {
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.header-logo-link {
  font-weight: 400;
  font-size: 25px;
  text-align: center;
  color: #212529;

  & span {
    font-weight: 700;
    color: #00856f;
  }
}

.header-navigation {
}

.header-navigation-list {
  display: flex;
  gap: 30px;
}

.header-navigation-list-item {
}

.header-navigation-link {
  font-weight: 400;
  font-size: 16px;
  color: #00856f;
  opacity: 0.9;

  &:hover {
    font-weight: 700;
    font-size: 16px;
    color: #00856f;
  }
}

.header-button {
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  color: #00856f;
  border: 1px solid #00856f;
  border-radius: 40px;
  padding: 10px 20px;
  max-width: 200px;
  height: 38px;

  background: transparent;

  display: flex;
  justify-content: center;
  align-items: center;
}

/* !MAIN */
/* !HERO */
.hero {
  padding-top: 80px;
  padding-bottom: 100px;
  background-color: #dce9e2;
}

.hero .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hero-content-wrap {
  max-width: 605px;
}

.hero-title {
  font-weight: 700;
  font-size: 52px;
  line-height: 1.3;
  color: #212529;
  display: flex;
  flex-direction: column;
  margin-bottom: 24px;

  & span {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.5;
    letter-spacing: 0.08em;
    color: #00856f;
    margin-bottom: 16px;
  }
}

.hero-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  color: #495057;
  margin-bottom: 32px;
}

.hero-button {
  border-radius: 40px;
  padding: 16px 32px;
  width: 264px;
  height: 52px;
  background: #00856f;

  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  color: #fff;
}

.hero-img {
  max-width: 420px;
}

/* ? container */

.hero-container-section {
  position: relative;
  top: -100px;
}
.hero-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-container-list {
  border: 1px solid #dce9e2;
  border-radius: 6px;
  width: 1120px;
  height: 210px;
  background: #fffaf1;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 200px;
}

.hero-container-list-item {
}

.hero-container-cifra {
  font-weight: 700;
  font-size: 48px;
  line-height: 1.3;
  color: #212529;
}

.hero-container-cifra-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #00856f;
}

/* !AJUDA */

.ajuda {
  padding-bottom: 150px;
}

.ajuda-title {
  font-weight: 700;
  font-size: 40px;
  text-align: center;
  color: #212529;
  max-width: 550px;
  margin: 0 auto;

  & span {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.5;
    letter-spacing: 0.08em;
    color: #00856f;

    display: flex;
    flex-direction: column;

    margin-bottom: 16px;

    margin: 0 auto;
  }
}

.ajuda-list-wrap {
}

.ajuda-list {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  margin-top: 60px;
}

.ajuda-list-item {
  border: 1px solid #dce9e2;
  border-radius: 6px;
  padding: 24px;
  /* width: 347px; */
  height: 207px;
  background: #fff;

  width: calc((100% - 2 * 40px) / 3);
}

.ajuda-image-wrap {
  width: 24px;
  height: 24px;
  border-radius: 100%;
  background: #dce9e2;
}

.ajuda-done-svg {
  fill: #00856f;
}

.ajuda-list-item-title {
  font-weight: 600;
  font-size: 20px;
  text-align: left;
  color: #212529;
  margin-top: 10px;
  margin-bottom: 10px;
}

.ajuda-list-item-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #495057;
}
